

div {

    height: 600px;
  width: 600px;
    background-color: white;
    border: 1px solid black;
    margin: 10px;

}



.square {

    height:100px;
  
    background-color: red;
    border-radius: 25px;
    transition: left 0.5s ease, top 0.5s ease;

}



.fade {
  
    animation: fade .5s linear;
}


@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}